:root {
    /* Colors */

    /* Default */
    --black: #000000;
    --white: #ffffff;
    --red: #da2128;
    --grey: #eef2f6;
    --transparent: rgba(255, 255, 255, 0);

    /* Base */
    --font-primary: var(--black);
    --button-primary: var(--red);
    --border-light: var(--grey);

    /* Typography */
    --font-family: 'Raleway', 'Arial', sans-serif;

    /* Viewports */
    --viewport--sm: 320px;
    --viewport--md: 768px;
    --viewport--lg: 1024px;
    --viewport--xl: 1440px;
    --viewport--xxl: 1920px;

    /* Retina */
    /* $retina-dpi: 144dpi;
    $retina-dppx: 1.5dppx; */

    /* Shadow */
    --shadow: 0 1.2px 18px rgba(0, 0, 0, 0.08), 0 6.4px 29px rgba(0, 0, 0, 0.12);
}
