.container {
    width: 100%;
    min-width: var(--viewport--sm);
    max-width: var(--viewport--xl);
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
}
