.products {
    position: relative;
    overflow-y: scroll;
}

.productsList {
    display: grid;
    margin: 2rem 0;
    padding: 0;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.productsListItem {
    list-style: none;
}
